section.main#main
  .container
    .main__wrapper
      .main__content
        h1 Многоуровневая VR арена
        p с возможностью перемещения на лифтах и через порталы
        button.btn Забронировать игру
      .main__images
        img(src="assets/img/main.png", alt="")
    .main__features
      .main__item
        img(src="assets/img/icons/labirint.png", alt="")
        p Игровая арена площадью 1500 в.м2
      .main__item
        img(src="assets/img/icons/hank.png", alt="")
        p Командные VR игры с участием от 2 до 18 игроков
      .main__item
        img(src="assets/img/icons/pazle.png", alt="")
        p Доступно 5 уникальных игр и 8 локаций
