section.about
  .about__content
    .about__image
      img(src="assets/img/about.jpg", alt="")
      button.about__btn
    .about__block
      h2 «Внутри VR арена»
      p Первая в Иркутске арена виртуальной реальности с многоуровневым передвижением.
      p <span style="color: #601DE5">Совместные игры от 2 до 18 человек</span> <br> рекомендуются школьникам, студентами и взрослым без ограничений по возрасту.
  .container
    .about__wrapper
      .about__item
        .about__cover
          img(src="assets/img/about_1.jpg", alt="")
        .about__descr
          .about__header
            h3 Для детей
            span от 8 до 18 лет
          p Non lobortis neque eu cras ultricies justo. A ultrices adipiscing at vitae molestie massa dictumst in sollicitudin. Aliquam pulvinar risus sed rhoncus.
      .about__item
        .about__cover
          img(src="assets/img/about_2.jpg", alt="")
        .about__descr
          .about__header
            h3 Для взрослых
            span от 18 лет
          p Non lobortis neque eu cras ultricies justo. A ultrices adipiscing at vitae molestie massa dictumst in sollicitudin. Aliquam pulvinar risus sed rhoncus.
