section.games
  .container
    .games__head
      h2 Подберите свою игру
      .games__links
        a.active(href="") Для детей
        a(href="") Для взрослых
    .games__tabs
      .games__tab.games-tab.active
        .games-tab__head
          a.active(href="") Космический батл
          a(href="") Осада острова
          a(href="") Шутер-Шмутер
        .games-tab__games
          .games-tab__game.active#game_1
            .games-tab__content
              h3 Космический батл
              .games-tab__list
                .games-tab__item
                  img(src="assets/img/icons/users.png", alt="")
                  p 2-12 человек
                .games-tab__item
                  img(src="assets/img/icons/time_game.png", alt="")
                  p 40 мин
                .games-tab__item
                  img(src="assets/img/icons/age.png", alt="")
              p Почувствуйте себя в роли солдат, обороняющих космическую станцию от вооружённых захватчиков. За окном бескрайний космос и дождь из метеоритов, а вокруг вас самый современный космический корабль. Вы можете перемещаться по станции с помощью порталов, отыскивать новейшие бластеры, щиты и аптечки для восстановления здоровья и научиться ходить по стенам и потолку.
              p Сражайтесь против друзей в режиме «сам за себя» или «команда на команду». И постарайтесь не вылететь в открытый космос.
              button.btn Забронировать игру
            .games-tab__images
              img(src="assets/img/game_1.jpg", alt="")
