section.price-game
  .container
    .price-game__table
      .price-game__header
        .price-game__th
          h4 Время
        .price-game__th
          h4 Цена открытой игры
          p в команду могут добавить незнакомых людей
        .price-game__th
          h4 Цена за команду
          p играет только ваша команда
      .price-game__body
        .price-game__tr
          .price-game__td
            p Будни до 16:00
          .price-game__td
            p 600
            span с человека
          .price-game__td
            p 600
            span с человека
        .price-game__tr
          .price-game__td
            p Будни до 16:00
          .price-game__td
            p 600
            span с человека
          .price-game__td
            p 600
            span с человека
        .price-game__tr
          .price-game__td
            p Будни до 16:00
          .price-game__td
            p 600
            span с человека
          .price-game__td
            p 600
            span с человека
  .price-game__info Максимальное количество человек в команде 20
