section.birthdays
  .birthdays__paralax
    img(src="assets/img/paralax/prlx-1.png", alt="")
    img(src="assets/img/paralax/prlx-2.png", alt="")
    img(src="assets/img/paralax/prlx-3.png", alt="")
  .birthdays__wrapper
    .birthdays__image
      img(src="assets/img/brithdays.jpg", alt="")
    .birthdays__block
      .birthdays__content
        h2 День рождения в VR!
        p А если вы хотите отметить день рождения ребёнка или свой, а возможно просто весело провести время с друзьями с продолжением в банкетной комнате, то закажите пакетное предложение и яркий, незабываемый праздник гарантирован!
        .birthdays__features
          h3 В предложение входит:
          .birthdays__item
            .birthdays__icon
              img(src="assets/img/icons/plates.png", alt="")
            p Банкетная комната
          .birthdays__item
            .birthdays__icon
              img(src="assets/img/icons/dance.png", alt="")
            p Джаст денс
          .birthdays__item
            .birthdays__icon
              img(src="assets/img/icons/vr.png", alt="")
            p Игра в VR арене
          .birthdays__item
            .birthdays__icon
              img(src="assets/img/icons/box.png", alt="")
            p Поздравление именинника
          .birthdays__item
            .birthdays__icon
              img(src="assets/img/icons/sony.png", alt="")
            p Sony Playstation
          .birthdays__item
            .birthdays__icon
              img(src="assets/img/icons/phone_photo.png", alt="")
            p Съёмка во время игры
          .birthdays__item
            .birthdays__icon
              img(src="assets/img/icons/gallary.png", alt="")
            p Фотографии из фотобудки каждому участнику
        button.btn Заказать праздник
