section.gallary
  h2 Весёлый праздник — счастливые дети!
  .gallary__wrapper
    img(src="assets/img/gallary/gallary-1.png", alt="")
    img(src="assets/img/gallary/gallary-2.png", alt="")
    img(src="assets/img/gallary/gallary-3.png", alt="")
    img(src="assets/img/gallary/gallary-4.png", alt="")
    img(src="assets/img/gallary/gallary-5.png", alt="")
    img(src="assets/img/gallary/gallary-6.png", alt="")
    img(src="assets/img/gallary/gallary-7.png", alt="")
    img(src="assets/img/gallary/gallary-8.png", alt="")
