section.price
    h2 Стоимость игр
    .price__wrapper
      .container
        .price__table
          .price__header
            .price__th
              p В пакет входит
            .price__th
              p Game X2
            .price__th
              p Mega Game X3
          .price__body
            .price__tr
              .price__td
                p Игра
              .price__td
                p
                  span 1 час
              .price__td
                p
                  span 1,5 - 2 час
            .price__tr
              .price__td
                p Банкетная комната
              .price__td
                span.star
              .price__td
                span.star
            .price__tr
              .price__td
                p Приставка Sony Playstation
              .price__td
                span.star
              .price__td
                span.star
            .price__tr
              .price__td
                p Съемка команды во время игры (ведется на телефон клиента)
              .price__td
              .price__td
                span.star
            .price__tr
              .price__td
                p Зажигательный Джаст Денс с ведущим
              .price__td
              .price__td
                span.star
            .price__tr
              .price__td
                p Фотографии из фотобудки
              .price__td
                span.star
              .price__td
                span.star
            .price__tr
              .price__td
                p Банкетная комната
              .price__td
                span.star
              .price__td
                span.star
          .price__footer
            .price__tr
              .price__td
                p Будние дни
              .price__td
                p 6000 - 9000
              .price__td
                p 9000 - 13 000
            .price__tr
              .price__td
                p Выходные дни
              .price__td
                p 9000 - 13 000
              .price__td
                p 13 000 - 16 000
      .container
        .price__info
          p Цена может измениться при уввелиение количества человек.
          p Максимальное количество участников в команде 16
          button.btn Забронировать игру
