.btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: $pink;
	color: $white;
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
	text-align: center;
	margin: 5px;
	border: none;
	border-radius: 50px;
	transition: all 0.3s ease;
	box-shadow: 0px 0px 0px #9505b1;
	padding: 25px 50px;
	&.btn-smail {
		font-size: 14px;
		padding: 13px 30px;
	}
	&:hover {
		transform: translate(-4px, 4px);
		box-shadow: 4px -4px 0px #9505b1;
		@include media-tablet-horizontal {
			transform: translate(0px, 0px);
			box-shadow: 0px 0px 0px #9505b1;
		}
	}
	&:active {
		transform: translate(-4px, 4px) scale(0.95);
		box-shadow: 4px -4px 0px #560366;
		background: #78048e;
	}
	@include media-mobile-min {
		font-size: 16px;
	}
}

.btn-outline {
	box-shadow: none;
	background: transparent;
	border: 2px solid $pink;
	&:hover {
		transform: translate(0px, 0px);
		background: $pink;
		box-shadow: none;
	}
	&:active {
		transform: translate(0px, 0px) scale(0.95);
		box-shadow: none;
		background: #78048e;
		border-color: #78048e;
	}
}

.button-phone {
	width: 100px;
	height: 100px;
	position: fixed;
	right: 42px;
	bottom: 50px;
	background: $pink;
	border-radius: 100px;
	display: none;
	justify-content: center;
	align-items: center;
	animation: pulse 2s infinite;
	z-index: 555;
	&:hover {
		transform: translate(0px, 0px);
		background: $pink;
		box-shadow: none;
	}
	&:active {
		transform: translate(0px, 0px) scale(0.95);
		box-shadow: none;
		background: #78048e;
		border-color: #78048e;
	}
	img {
		width: 50px;
		height: 50px;
		object-fit: contain;
	}
	@include media-tablet-horizontal {
		display: flex;
	}
	@include media-tablet {
		right: 30px;
	}
	@include media-mobile-horizontal {
		width: 70px;
		height: 70px;
		img {
			width: 35px;
			height: 35px;
		}
	}
	@include media-mobile-min {
		right: 10px;
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba($pink, 0.4);
	}
	70% {
		box-shadow: 0 0 0 30px rgba($pink, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba($pink, 0);
	}
}
