extends common/layout

block content
  main.content
    include includes/index/01-main
    include includes/index/02-about
    include includes/index/03-games
    include includes/index/04-games-price
    include includes/index/05-birthdays
    include includes/index/06-gallary
