// Media width
$mediaWidthLaptop: 1200px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobileHorizontal: 640px;
$mediaWidthMobile: 480px;
$mediaWidthMobileMin: 320px;

// Colors
$black: #000000;
$white: #f8e3fc;
$pink: #c41de5;
$blueviolet: #601de5;
$indigo: #31073a;
$indigoDark: #19031d;
